<div class="card-middle full-page">
    <h1> Thank you for visiting my site! </h1>

    <p class="pad-top"> I created this website as my last 4th and final project for General Assembly Immersive course. It is not much but I m proud of it. Hope you enjoy your time here.</p>
</div>