/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background: #fef2f4;
    color:  #8f81bc;
 }

 .btn-outline-secondary {
   border-color: #fbe0e7;
   color: #8f81bc;
 }

 .btn-outline-secondary:hover {
   background-color: #d4eefc;
   border-color: #fbe0e7;
 }
 
 .card-body {
  height: 250px;
  font-size: 0.5rem;
}

.card-container {
  flex-wrap: wrap;
  display: flex;
}

.card-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.shrink-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.btnc {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.btn-pink {
  background-color: pink;
  color: white;
  font-size: 0.8em;
}

.btn-pink:hover {
  background-color: #d4eefc;
}

.longer {
  height: 30rem;
}

.pad-top{
  padding-top: 3rem;
}

.smaller-font{
  font-size: 0.7rem;
}

.larger-font {
  font-size: 1.4rem;
}

.space {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.full-page {
  height: 80vh;
}

.p-small {
  padding: 0;
  margin: 2rem;
}

/* .m-larger {
  padding: 1.8rem;
} */




 